**Breast Cancer Clasification (Beginner)**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

DATA_URL = "https://raw.githubusercontent.com/deepak525/Breast-Cancer-Visualization-and-Classification/master/data.csv"
Data = pd.read_csv(DATA_URL)
Data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [ ]:
Data.describe()

                 id  radius_mean  ...  symmetry_worst  fractal_dimension_worst
count  5.690000e+02   569.000000  ...      569.000000               569.000000
mean   3.037183e+07    14.127292  ...        0.290076                 0.083946
std    1.250206e+08     3.524049  ...        0.061867                 0.018061
min    8.670000e+03     6.981000  ...        0.156500                 0.055040
25%    8.692180e+05    11.700000  ...        0.250400                 0.071460
50%    9.060240e+05    13.370000  ...        0.282200                 0.080040
75%    8.813129e+06    15.780000  ...        0.317900                 0.092080
max    9.113205e+08    28.110000  ...        0.663800                 0.207500

[8 rows x 31 columns]

In [ ]:
Data = Data.drop('id', axis = 1)

In [ ]:
predictor = ['radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean', 'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se', 'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se', 'fractal_dimension_se', 'radius_worst', 'texture_worst', 'perimeter_worst', 'area_worst', 'smoothness_worst', 'compactness_worst', 'concavity_worst', 'concave points_worst', 'symmetry_worst', 'fractal_dimension_worst' ]
target = ['diagnosis']

x = Data[predictor]
y = Data[target]

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
x_train.head()

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
267        13.59         21.84  ...          0.2446                  0.07024
384        13.28         13.72  ...          0.2736                  0.07320
532        13.68         16.33  ...          0.2806                  0.07782
55         11.52         18.75  ...          0.3306                  0.07036
324        12.20         15.21  ...          0.2661                  0.07961

[5 rows x 30 columns]

In [ ]:
y_train.head()

    diagnosis
267         B
384         B
532         B
55          B
324         B

Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

model_nb = GaussianNB()
model_nb.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
y_pred = model_nb.predict(x_test)
y_pred

array(['B', 'M', 'M', 'B', 'B', 'M', 'M', 'M', 'M', 'B', 'B', 'B', 'B',
       'M', 'B', 'M', 'B', 'M', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B',
       'M', 'M', 'M', 'M', 'B', 'B', 'M', 'B', 'M', 'B', 'M', 'M', 'M',
       'B', 'M', 'M', 'B', 'M', 'B', 'M', 'M', 'B', 'M', 'B', 'M', 'M',
       'B', 'M', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'B', 'M',
       'M', 'M', 'M', 'B', 'M', 'M', 'B', 'B', 'M', 'B', 'M', 'M', 'B',
       'M', 'M', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'B',
       'M', 'M', 'B', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M',
       'M', 'M', 'M', 'M', 'B', 'M', 'B', 'M', 'M', 'M'], dtype='<U1')

In [ ]:
model_nb.score(x_test, y_test)

0.9473684210526315

KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#definisikan model
model_knn = KNeighborsClassifier(n_neighbors=3)

#training
model_knn.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
model_knn.predict(x_test)

array(['B', 'M', 'M', 'B', 'B', 'M', 'M', 'M', 'M', 'B', 'B', 'B', 'B',
       'M', 'B', 'M', 'B', 'M', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B',
       'B', 'M', 'M', 'M', 'B', 'B', 'M', 'M', 'B', 'B', 'M', 'M', 'M',
       'B', 'M', 'M', 'B', 'M', 'B', 'M', 'B', 'B', 'M', 'B', 'M', 'B',
       'B', 'M', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'B', 'M',
       'M', 'M', 'B', 'M', 'M', 'B', 'M', 'B', 'M', 'B', 'M', 'M', 'B',
       'M', 'M', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'B',
       'M', 'M', 'B', 'M', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M',
       'M', 'M', 'B', 'M', 'B', 'M', 'M', 'M', 'M', 'M'], dtype=object)

In [ ]:
model_knn.score(x_test, y_test)

0.8947368421052632

In [ ]:
y_test

    diagnosis
390         B
517         M
16          M
295         B
530         B
..        ...
77          M
133         B
62          M
461         M
4           M

[114 rows x 1 columns]

SVM

In [ ]:
from sklearn.svm import SVC

model3 = SVC(kernel='rbf')

model3.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [ ]:
model3.predict(x_test)

array(['B', 'M', 'M', 'B', 'B', 'M', 'M', 'M', 'M', 'B', 'B', 'B', 'B',
       'M', 'B', 'M', 'B', 'M', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'M', 'M', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'M', 'M',
       'B', 'B', 'B', 'B', 'M', 'B', 'M', 'B', 'B', 'M', 'B', 'M', 'B',
       'B', 'M', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'M', 'B', 'B',
       'M', 'M', 'B', 'B', 'M', 'M', 'M', 'B', 'M', 'B', 'M', 'M', 'B',
       'M', 'M', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'B',
       'M', 'M', 'B', 'B', 'M', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'M',
       'M', 'M', 'B', 'M', 'B', 'M', 'M', 'M', 'M', 'M'], dtype=object)

In [ ]:
model3.score(x_test, y_test)

0.8947368421052632



---

**Twitter Airline Sentiment Analysis (Intermediate)**

In [ ]:
TWEET_URL = 'https://raw.githubusercontent.com/yxccxxx/Twitter-Airline-Sentiment-Analysis/master/Tweets.csv'

data = pd.read_csv(TWEET_URL)
data.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

In [ ]:
X = data['text']
y = data['airline_sentiment']

In [ ]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english', strip_accents='ascii')

vectorizer.fit(X_train)

X_train_vector = vectorizer.transform(X_train)
X_test_vector = vectorizer.transform(X_test)

In [ ]:
X_train_vector.get_shape()

(11712, 13002)

In [ ]:
model1 = GaussianNB()
model1.fit(X_train_vector.toarray(), y_train)

GaussianNB()

In [ ]:
model1.score(X_test_vector.toarray(), y_test)

0.5

In [ ]:
model2 = KNeighborsClassifier(n_neighbors=9)
model2.fit(X_train_vector.toarray(), y_train)

KNeighborsClassifier(n_neighbors=9)

In [ ]:
model2.score(X_test_vector.toarray(), y_test)

0.7223360655737705

Algoritma yang lebih baik antara Naive Bayes dan KNN pada kasus ini adalah KNN



---

**Klasifikasi Data Citra (Advanced)**

In [ ]:
import numpy as np
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib

Using matplotlib backend: agg

In [ ]:
from sklearn.datasets import fetch_lfw_people

faces = fetch_lfw_people(min_faces_per_person=60)

In [ ]:
print(faces.target_names)
print(faces.images.shape)

['Ariel Sharon' 'Colin Powell' 'Donald Rumsfeld' 'George W Bush'
 'Gerhard Schroeder' 'Hugo Chavez' 'Junichiro Koizumi' 'Tony Blair']
(1348, 62, 47)

In [ ]:
fig, ax = plt.subplots(3, 5)
 
for i, axi in enumerate(ax.flat):
    axi.imshow(faces.images[i], cmap='bone')
    axi.set(xticks=[], yticks=[], xlabel=faces.target_names[faces.target[i]])

In [ ]:
from sklearn.decomposition import PCA as RandomizedPCA
from sklearn.pipeline import Pipeline

pca = RandomizedPCA(n_components=150, whiten=True, random_state=42)
svc = SVC(kernel='rbf', class_weight='balanced')
model_pca_svm = make_pipeline(pca, svc)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(faces.data, faces.target,test_size=0.2 )

In [ ]:
model_pca_svm.fit(X_train, y_train)

Pipeline(steps=[('pca', PCA(n_components=150, random_state=42, whiten=True)),
                ('svc', SVC(class_weight='balanced'))])

In [ ]:
model_pca_svm.score(X_test, y_test)

0.8037037037037037

In [ ]:
y_pred = model_pca_svm.predict(X_test)

fig, ax = plt.subplots(4,6)
for i, axi in enumerate(ax.flat):
  axi.imshow(X_test[i].reshape(62, 47), cmap='bone')
  axi.set(xticks=[], yticks=[])
  axi.set_ylabel(faces.target_names[y_pred[i]].split()[-1],
                 color='black' if y_pred[i] == y_test[i] else 'red')
fig.suptitle('Predicted Named; Incorect Labels in Red', size=14)

Text(0.5, 0.98, 'Predicted Named; Incorect Labels in Red')