**UNSUPERVISED** **LEARNING**

In [ ]:
import pandas as pd

AAAI = pd.read_csv("/content/drive/MyDrive/UAS/Facebook Live Sellers/Live.csv")
AAAI

                              status_id status_type  ... Column3  Column4
0      246675545449582_1649696485147474       video  ...     NaN      NaN
1      246675545449582_1649426988507757       photo  ...     NaN      NaN
2      246675545449582_1648730588577397       video  ...     NaN      NaN
3      246675545449582_1648576705259452       photo  ...     NaN      NaN
4      246675545449582_1645700502213739       photo  ...     NaN      NaN
...                                 ...         ...  ...     ...      ...
7045  1050855161656896_1061863470556065       photo  ...     NaN      NaN
7046  1050855161656896_1061334757275603       photo  ...     NaN      NaN
7047  1050855161656896_1060126464063099       photo  ...     NaN      NaN
7048  1050855161656896_1058663487542730       photo  ...     NaN      NaN
7049  1050855161656896_1050858841656528       photo  ...     NaN      NaN

[7050 rows x 16 columns]

In [ ]:
AAAI.shape

(7050, 16)

In [ ]:
AAAI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

In [ ]:
AAAI.describe()

       num_reactions  num_comments   num_shares  ...  Column2  Column3  Column4
count    7050.000000   7050.000000  7050.000000  ...      0.0      0.0      0.0
mean      230.117163    224.356028    40.022553  ...      NaN      NaN      NaN
std       462.625309    889.636820   131.599965  ...      NaN      NaN      NaN
min         0.000000      0.000000     0.000000  ...      NaN      NaN      NaN
25%        17.000000      0.000000     0.000000  ...      NaN      NaN      NaN
50%        59.500000      4.000000     0.000000  ...      NaN      NaN      NaN
75%       219.000000     23.000000     4.000000  ...      NaN      NaN      NaN
max      4710.000000  20990.000000  3424.000000  ...      NaN      NaN      NaN

[8 rows x 13 columns]

In [ ]:
AAAI.isna().sum()

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [ ]:
DATA = pd.get_dummies(AAAI, columns=['status_type', 'status_published'])
DATA

                              status_id  ...  status_published_9/9/2017 7:13
0      246675545449582_1649696485147474  ...                               0
1      246675545449582_1649426988507757  ...                               0
2      246675545449582_1648730588577397  ...                               0
3      246675545449582_1648576705259452  ...                               0
4      246675545449582_1645700502213739  ...                               0
...                                 ...  ...                             ...
7045  1050855161656896_1061863470556065  ...                               0
7046  1050855161656896_1061334757275603  ...                               0
7047  1050855161656896_1060126464063099  ...                               0
7048  1050855161656896_1058663487542730  ...                               0
7049  1050855161656896_1050858841656528  ...                               0

[7050 rows x 6931 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(DATA)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:461: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:462: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

MinMaxScaler()

In [ ]:
scaler.transform(DATA)

array([[2.26117251e-01, 1.12314225e-01, 2.43925679e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.26117251e-01, 3.18471338e-02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.26117251e-01, 4.81953291e-02, 1.12434493e-02, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.00000000e+00, 4.24628450e-04, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 7.45222930e-02, 5.71700810e-04, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 3.60934183e-03, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [ ]:
data_normalized = pd.DataFrame(scaler.transform(DATA), columns=DATA.columns)
data_normalized.head()

   status_id  ...  status_published_9/9/2017 7:13
0   0.226117  ...                             0.0
1   0.226117  ...                             0.0
2   0.226117  ...                             0.0
3   0.226117  ...                             0.0
4   0.226117  ...                             0.0

[5 rows x 6931 columns]

In [ ]:
del data_normalized['Column1']
del data_normalized['Column2']
del data_normalized['Column3']
del data_normalized['Column4']
data_normalized.head()

In [ ]:
del data_normalized['Column1']

In [ ]:
data_normalized.head()

   status_id  ...  status_published_9/9/2017 7:13
0   0.226117  ...                             0.0
1   0.226117  ...                             0.0
2   0.226117  ...                             0.0
3   0.226117  ...                             0.0
4   0.226117  ...                             0.0

[5 rows x 6927 columns]

In [ ]:
from sklearn.cluster import KMeans

kmean = KMeans(n_clusters = 3)

In [ ]:
kmeans.fit(data_normalized)

KMeans(n_clusters=3)

In [ ]:
kmeans.predict(data_normalized)

array([2, 0, 2, ..., 0, 0, 0], dtype=int32)

In [ ]:
from sklearn.metrics import silhouette_score

In [ ]:
silhouette_score(data_normalized, kmeans.predict(data_normalized))

0.27083330019976865